fastapi
uvicorn[standard]

httpx
requests

beautifulsoup4
lxml

selenium
webdriver-manager

sqlalchemy
mysqlclient (>=2.2.7,<3.0.0)
redis
python-jose[cryptography]
pydantic_settings

# TEST
playwright